---
title: art
layout: main
current: art
---
<h2>Ceramics, 2025</h2>
<div class="gallery">
  {% for image in art reversed %}
    <figure>
      <a href="{{ image.title | slugify }}/">
        <img src="{{ image.dir | append: image.src }}" alt="{{ image.alt }}">
      </a>
      <figcaption>
        <h3>{{ image.title }}</h3>
        <p>{{ image.description }}</p>
      </figcaption>
    </figure>
  {% endfor %}
</div>